:root {
  --white: #fff;
  --blueberry: #050542;
  --turquoise: #66e5bf;
  --lavender: #a675f5;
  --attention: #050542;
  --attention-background: #05054233;
  --call-to-action: #fffc86;
  --rounded: .5rem;
  --pilled: 2rem;
  --shadow: .3rem;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--white);
  background: var(--attention);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
body {
  color: var(--attention);
  background: var(--white);
}
}